<% include ../partials/header %> 
<h1>Technology Used</h1>
<p>1. Node.js as backend programming <br>
2. HTML, CSS as front end language <br>
3. Git /Github as version control system <br>
4. MongoDB as database <br>
5. Socket.io for implementing real time chat and code editing <br>
6. Express.js to create the server <br>
<p>
        <p>In this project, we create a website where any user can go and create a room. When this room is created, there is a specific url related to this room is generated. Now the user who have created the room has this URL, and he/she now can share it with any number of another users. For sharing we also implement the mail facility in the website. 

                <br> <br>Now the other users who got this link can open the url. They all will see the same editor screen and chat on their browser.
                
                <br> <br>Now all the users who have opened this URL will edit the code at the same time, which will shown to all the users in the real time. The editor is followed a particular pattern of javascript language also, as if we write code in javascript there is different color coding schemes implement according to the javascript language
                
                All the users on the same room created can also chat with ourself, as chat facility is also available, so that they can share their ideas about a particular situation to other users.
                As a result of Hard work I completely created a working project. 
                
               <br ><br> This helps in a certain number of ways: <br> <br>
                
                1. In pair programming, two developers work together on the same code, with the goals of improved communication and team knowledge sharing, increased productivity, and better software quality.
                <br><br>
                2. This can be used by the interviewer as they used it to check the ability of the programmers remotely.
                <br><br>
                3. This can be also used create the files fast. For example there are 10 developers who have to write a file of 10 paragraphs. They can share the room and divide the work and write a paragraph each user. They don’t even have to do anything apart from that.
        </p>

