<% include ../partials/header %>
<h1 class="text-center">Contact Us</h1>

<form action="" method= "post" class="col-md-6 col-md-offset-3">
        <% if(error){ %>
            <% for(var i=0; i<error.length; i++) { %>
                    <div class="alert alert-danger"><%= error[i].msg %></div>
            <% } %>                
        <% }%>              
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Your Name" name="name" value="<%= name%>">
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" class="form-control" placeholder="Your Email" name="email" value="<%= email%>">
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" cols="30" rows="10" name="message"><%= message %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

